

  header {
    position: relative;
  }
  .slide {
    margin-top: 10px;
  }

.footer
{
    height: 50px;
    background-color: black;
    width: 100%;
    color: cornsilk;
}
.carousel-item img {
  width:100%
}

  .shopping-mall {
      position: relative;
      top: 30px;
      font-variant: small-caps;
      bottom: 0px;
      margin: 10px;
  }

  .shopping-mall > h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 35px;
      letter-spacing: 0.4px;
      text-shadow: 0 0 2px black;
      padding-bottom: 0px;
      border-bottom: blueviolet dotted 1px;
      color: white;
  }

  .shopping-mall > h4 {
      margin-top: 5px;
      letter-spacing: 0.5px;
  } 

  .product {
    text-align: center;
  }

  .card {
    margin: 5px;
  }

  .product img {
    max-height: 220px !important;
    max-width: 90%;
  }

  .price {
    color: red !important;
  }
  
  .detail-img {
  	max-width: 100%;
  	max-height: 250px;
  }
  
  .detail-info li {
  	font-variant: small-caps;
  	font-size: larger;
  	line-height: 30px;
  }
  
  p {
  	text-align: justify;
  }
  
  .thumb-img {
  	width: 100%;
  	max-width: 135px;
  	max-height: 180px;
  	height: 100%;
  	border-radius: 5px;
  	margin: 8px;
  	padding: 3px;
  	box-shadow: 0px 0px 2px blue;
  }
  
  .thumb-img:hover {
  	box-shadow: 0px 0px 5px red;
  }